/out/
/Chinook.sql
/chinook_db.db
/chinook_db.sqbpro
/enonce_exercice1.sql
/enonce_exercice2.sql
/enonce_exercice3.sql
/Exercices.iml
/Jointures_exercices.sql
/music.db
/music.sqbpro
/requetes_bonus.sql
/.idea/
/.gitignore
